BACKEND (PYTHON):

pip install Flask==3.1.2 flask-cors==6.0.1 requests==2.32.5


FRONTEND (REACT):

npm install @radix-ui/react-accordion @radix-ui/react-alert-dialog @radix-ui/react-aspect-ratio @radix-ui/react-avatar @radix-ui/react-checkbox @radix-ui/react-collapsible

npm install @radix-ui/react-context-menu @radix-ui/react-dialog @radix-ui/react-dropdown-menu @radix-ui/react-hover-card @radix-ui/react-label @radix-ui/react-menubar @radix-ui/react-navigation-menu

npm install @radix-ui/react-popover @radix-ui/react-progress @radix-ui/react-radio-group @radix-ui/react-scroll-area @radix-ui/react-select @radix-ui/react-separator @radix-ui/react-slider @radix-ui/react-slot @radix-ui/react-switch @radix-ui/react-tabs @radix-ui/react-toggle @radix-ui/react-toggle-group @radix-ui/react-tooltip

npm install class-variance-authority clsx cmdk embla-carousel-react input-otp lucide-react maplibre-gl motion next-themes react-day-picker react-hook-form react-map-gl react-resizable-panels recharts sonner tailwind-merge vaul


SERVER WEB PER TEST MOBILE (NGROK): 

ngrok config add-authtoken 33yHku8AbinwCPNwR2cmXA5d7FL_8fcWqcd9Gc22zV9Jgefq


& "C:\Program Files\WindowsApps\ngrok.ngrok_3.24.0.0_x64__1g87z0zv29zzc\ngrok.exe" http 3000